{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Administration des formes</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_row(form.pricing) }}
    {{ form_row(form.quantity) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Image</th>
            <th>Tarif</th>
            <th>Stock</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for s in shapes %}
            <tr>
                <td>{{ s.name }}</td>
                {% if s.isFixture %}
                    <td><img src="{{ asset('uploads/shape/fixtures/' ~ s.image) }}" height="300"></td>
                {% else %}
                    <td><img src="{{ asset('uploads/shape/' ~ s.image) }}" height="300"></td>
                {% endif %}
                <td>{{ s.pricing }}</td>
                <td>{{ s.quantity }}</td>
                <td><a href="{{ path('shape_edit', {'id': s.id}) }}">Modifier</a></td>
                <td><a href="{{ path('shape_remove', {'id': s.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}