{% extends "base.html.twig" %}

{% block body %}
    Page mes adresses
    {{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.number) }}
    {{ form_row(form.street) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
    {% for a in addresses %}
        {{ dump(a) }}
    {% endfor %}
{% endblock %}