{% extends "base.html.twig" %}

{% block body %}
    Page mes commandes
    {% if orderings and orderings|length > 0 %}
        {% for o in orderings %}
            {{ dump(o) }}

            <a href="{{ path('account_ordering', {'id': o.id}) }}">Accéder à ma commande</a>
        {% endfor %}
    {% endif %}
{% endblock %}
