{% extends "base.html.twig" %}

{% block body %}
    Commande {{ o.reference }} - {{ o.products|length }}
    {{ dump(o) }}

    {% if o.products|length > 0 %}
        {% for p in o.products %}
            {{ dump(p) }}
        {% endfor %}
    {% endif %}
    <a href="{{ path('cart', {'reference': o.reference}) }}">Payer ma commande</a>
{% endblock %}
