{% extends "base.html.twig" %}

{% block body %}
    <h1>Registration page</h1>

    {{ form_start(form) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <button type="submit">Inscription</button>
    {{ form_end(form) }}
{% endblock %}