body {
  background-color: #00aced;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;

  .header-logo {
    width: 150px;
    height: 60px;

    img {
      height: 100%;
    }
  }

  .header-nav {
    min-width: 40%;
    width: auto;

    nav ul {
      display: flex;
      flex-direction: row;
    }
  }
}
