{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Administration des tailles</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.pricing) }}
    {{ form_row(form.quantity) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Tarif</th>
            <th>Stock</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sizes %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.pricing }}</td>
                <td>{{ s.quantity }}</td>
                <td><a href="{{ path('size_edit', {'id': s.id}) }}">Modifier</a></td>
                <td><a href="{{ path('size_remove', {'id': s.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}