{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Modification écusson</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form.pricing) }}
    {{ form_row(form.quantity) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}