{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Administration des écussons</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_row(form.pricing) }}
    {{ form_row(form.quantity) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Image</th>
            <th>Tarif</th>
            <th>Stock</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for p in patches %}
            <tr>
                <td>{{ p.name }}</td>
                <td><img src="{{ asset('uploads/patch/fixtures/') ~ p.image }}" height="300"></td>
                <td>{{ p.pricing }}</td>
                <td>{{ p.quantity }}</td>
                <td><a href="{{ path('patch_edit', {'id': p.id}) }}">Modifier</a></td>
                <td><a href="{{ path('patch_remove', {'id': p.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}