{% extends "base.html.twig" %}

{% block body %}
    <h1>Adresse de facturation</h1>

    {{ form_start(form) }}
    {{ form_row(form.number) }}
    {{ form_row(form.street) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    <button type="submit">Valider mon adresse de facturation</button>
    {{ form_end(form) }}

    <form action="{{ path('cart_pay', {'reference': ordering.reference}) }}" method="post">
        {% for a in addresses %}
            <input type="radio" name="billing_address" value="{{ a.id }}"> {{ a.number }}, {{ a.street }} {{ a.zipCode }} {{ a.city }}, {{ a.country }}
        {% endfor %}
        <button type="submit">Valider mon adresse existante</button>
    </form>
{% endblock %}
