{% if app.session.get('shape_id') %}
    {{ dump(app.session.get('shape_id')) }}
{% endif %}
{% if app.session.get('color_id') %}
    {{ dump(app.session.get('color_id')) }}
{% endif %}
{% if app.session.get('patch_id') %}
    {{ dump(app.session.get('patch_id')) }}
{% endif %}
{% if app.session.get('products') %}
    {% for p in app.session.get('products') %}
        {{ dump(p) }}
    {% endfor %}
{% endif %}
{% if app.session.get('ordering') %}
    {% for p in app.session.get('ordering') %}
        {{ dump(p) }}
    {% endfor %}
{% endif %}