{% extends "base.html.twig" %}

{% block body %}
    <h1>Page panier</h1>

    {% if ordering is defined and ordering.products is defined and ordering.products|length > 0 %}
        {% set total = 0 %}
        {% for product in ordering.products %}
            {% set total = total + product.priceHt %}
        {% endfor %}
        {{ total }}
        <a href="{{ path('cart_clear') }}">Vider mon panier</a>
        {% set products = ordering.products %}
        <form action="{{ path('cart') }}" method="post">
            {% for key, p in products %}
                <div style="border: 5px solid red;">
                    {% if p != null %}
                        <p>{{ p.reference }}</p>
                        <p>{{ dump(p) }}</p>
                        <p>{{ dump(p.priceHt) }}</p>
                        <input type="hidden" name="product_quantity" data-reference="{{ p.reference }}" value="{{ p.quantity }}">
                        <p>Qté: {{ p.quantity }}</p>
                        <a href="{{ path('cart_remove_product', {'reference': p.reference}) }}">Supprimer l'article</a>
                    {% else %}
                        p est null
                    {% endif %}
                </div>
            {% endfor %}
            <input type="hidden" name="ordering_total_ht" value="{{ total }}">
            <br>
            {#            <input type="hidden" name="product_length" value="{{ products|length }}">#}
            {% if is_granted('ROLE_USER') %}
                <button type="submit" name="submit" value="cart_validation">Valider mon panier</button>
            {% else %}
                <a href="{{ path('cart_join') }}">Se connecter et valider mon panier</a>
            {% endif %}
        </form>
        <a href="{{ path('select_shape') }}">Ajouter un produit</a>
        <br><br><br>
    {% else %}
        Votre panier est vide
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('shopping_cart') }}
{% endblock %}
