{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .color {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Sélection couleur</h1>

    {% for c in colors %}
        <p>{{ c.name }}</p>
        <p>{{ c.pricing }} €</p>
        <div class="color" style="background-color: {{ c.code }}"></div>
        <form action="{{ path('select_color') }}" method="post">
            <input type="hidden" value="{{ c.id }}" name="color_id">
            <button type="submit">Choisir</button>
        </form>
    {% endfor %}
{% endblock %}
