{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sélection écusson</h1>

    {% for p in patches %}
        <p>{{ p.name }}</p>
        <p>{{ p.pricing }} €</p>
        <img src="{{ asset('uploads/patch/fixtures/' ~ p.image) }}" height="250" />
        <form action="{{ path('select_patch') }}" method="post">
            <input type="hidden" value="{{ p.id }}" name="patch_id">
            <button type="submit">Choisir</button>
        </form>
    {% endfor %}
{% endblock %}
