{% extends "base.html.twig" %}

{% block stylesheets %}
    <style>
        .StripeElement {
            box-sizing: border-box;

            height: 40px;

            padding: 10px 12px;

            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;

            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Paiement</h1>

    {% if ordering is defined %}
        {{ dump(ordering) }}
    {% endif %}

    <form action="{{ path('stripe_payments_checkout') }}" method="post" id="payment-form">
        <div class="form-row">
            <label for="card-element">
                Payez par carte bancaire, Stripe ou Paypal !
            </label>
            <div id="card-element">
    <!-- A Stripe Element will be inserted here. -->
    </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button>Submit Payment</button>
    </form>

{#    <form action="{{ path('stripe_payments_checkout') }}" method="post" id="payment-form">#}
{#        <div class="form-row">#}
{#            <label for="card-element">#}
{#                Credit or debit card#}
{#            </label>#}
{#            <div id="card-element">#}
{#    <!-- A Stripe Element will be inserted here. -->#}
{#    </div>#}
{#            <!-- Used to display form errors. -->#}
{#            <div id="card-errors" role="alert"></div>#}
{#        </div>#}

{#        <button>Submit Payment</button>#}
{#    </form>#}

{% endblock %}

{% block javascripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_qaOf5JZelJ3X5Mzovfr5J1RO');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                console.log(result);
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            var amount = document.createElement('input');
            var currency = document.createElement('input');
            currency.setAttribute('type','hidden');
            currency.setAttribute('name','currency');
            currency.setAttribute('value','eur');
            amount.setAttribute('type','hidden');
            amount.setAttribute('name','amount');
            amount.setAttribute('value',{{ ordering.totalTtc }});
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripe_token');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            form.appendChild(amount);
            form.appendChild(currency);
            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}
