{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sélection forme</h1>

    {% if app.session.get('ordering') %}
        Vous avez une commande en attente
    {% else %}
        Aucune commande pour l'instant
    {% endif %}

    {% for s in shapes %}
        <p>{{ s.name }}</p>
        <p>{{ s.pricing }} €</p>
        <img src="{{ asset('uploads/shape/fixtures/' ~ s.image) }}" height="250" />
        <form action="{{ path('select_shape') }}" method="post">
            <input type="hidden" value="{{ s.id }}" name="shape_id">
            <button type="submit">Choisir</button>
        </form>
    {% endfor %}
{% endblock %}
