{% extends "base.html.twig" %}

{% block body %}
    <h1>Adresse de livraison</h1>

    {{ form_start(form) }}
    {{ form_row(form.number) }}
    {{ form_row(form.street) }}
    {{ form_row(form.zipCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    <input type="checkbox" name="billing">
    <button type="submit">Valider et sauvegarder mon adresse de livraison</button>
    {{ form_end(form) }}

    {{ dump(ordering) }}

    {% if addresses is defined and addresses|length > 0 %}
        <form action="{{ path('cart_shipping') }}" method="post">
            {% for a in addresses %}
                <input type="radio" name="shipping_address" value="{{ a.id }}"> {{ a.number }}, {{ a.street }} {{ a.zipCode }} {{ a.city }}, {{ a.country }}
            {% endfor %}
            <input type="checkbox" name="billing">
            <button type="submit">Valider mon adresse existante</button>
        </form>
    {% endif %}
{% endblock %}