{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sélection size</h1>

    {% if app.session.get('products') %}
        {% if app.session.get('products')|length > 0 %}
            Vous avez {{ app.session.get('products')|length }} produits dans votre panier
        {% endif %}
    {% else %}
        Aucune commande pour l'instant
    {% endif %}

    <form action="{{ path('select_size') }}" method="post">
        <input type="number" value="1" name="quantity">
        <select name="product_size" id="product_size">
            {% for s in sizes %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Choisir</button>
    </form>
{% endblock %}