<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Grosman.club{% endblock %}</title>
        <meta name="google-site-verification" content="SErsqqF-7k63HG_XCx2vw7fmAGCqPUFxFruEdbDbny0" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <section class="header-logo">
            <img src="{{ asset('images/logo_transparent.png') }}" alt="grosman.club logo">
        </section>
        <section class="header-nav">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('collections') }}">Collections</a></li>
                    <li><a href="{{ path('select_shape') }}">Configurer</a></li>
                    <li><a href="{{ path('le_club') }}">Le club</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                    <li><a href="{{ path('cart') }}">Mon panier</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('account_profile') }}">Mon compte</a></li>
                        <li><a href="{{ path('account_orderings') }}">Mes commandes</a></li>
                        <li><a href="{{ path('account_addresses') }}">Mes adresses</a></li>
                    {% else %}
                        <li><a href="{{ path('register') }}">Inscription</a></li>
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </section>
    </header>

    {% if app.session.flashBag.has('success') %}
        {% for message in app.session.flashBag.get('success') %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('error') %}
        {% for message in app.session.flashBag.get('error') %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('warning') %}
        {% for message in app.session.flashBag.get('warning') %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.has('info') %}
        {% for message in app.session.flashBag.get('info') %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {{ render(controller('App\\Shop\\Controller\\FunnelController::cartRender')) }}
        {% block body %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
