<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Grosman.club{% endblock %}</title>
    <meta name="google-site-verification" content="SErsqqF-7k63HG_XCx2vw7fmAGCqPUFxFruEdbDbny0" />


    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.session.flashBag.has('success') %}
    {% for message, type in app.session.flashBag.get('success') %}
        <p>Type: {{ type }} ; Message: {{ message }}</p>
    {% endfor %}
{% endif %}
{% if app.session.flashBag.has('error') %}
    {% for message, type in app.session.flashBag.get('error') %}
        <p>Type: {{ type }} ; Message: {{ message }}</p>
    {% endfor %}
{% endif %}
<nav>
    <ul>
        <li><a href="{{ path('home') }}" target="_blank">Accueil</a></li>
        <li><a href="{{ path('color_list') }}">Couleurs</a></li>
        <li><a href="{{ path('size_list') }}">Taille</a></li>
        <li><a href="{{ path('shape_list') }}">Types de casquettes</a></li>
        <li><a href="{{ path('patch_list') }}">Ecussons</a></li>
        <li><a href="{{ path('customer_list') }}">Clients</a></li>
        <li><a href="{{ path('last_orderings') }}">Commandes</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

</body>
</html>
