{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Administration des couleurs</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}
    {{ form_row(form.pricing) }}
    {{ form_row(form.quantity) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Couleur</th>
            <th>Tarif</th>
            <th>Stock</th>
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for c in colors %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.code }}</td>
                <td>{{ c.pricing }}</td>
                <td>{{ c.quantity }}</td>
                <td><a href="{{ path('color_edit', {'id': c.id}) }}">Modifier</a></td>
                <td><a href="{{ path('color_remove', {'id': c.id}) }}">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}