{% extends 'administration/dashboard.html.twig' %}

{% block body %}
    <h1>Dernières commandes</h1>

    {{ dump(last_orderings) }}

{#    <table>#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Raison sociale</th>#}
{#            <th>Nom</th>#}
{#            <th>Prénom</th>#}
{#            <th>Email</th>#}
{#            <th>Commandes</th>#}
{#            <th></th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for c in customers %}#}
{#            <tr>#}
{#                <td>{{ c.gender }}</td>#}
{#                <td>{{ c.lastName }}</td>#}
{#                <td>{{ c.firstName }}</td>#}
{#                <td>{{ c.email }}</td>#}
{#                <td>{{ c.orderings|length }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{% endblock %}
